<!DOCTYPE html>

<meta charset="UTF-8">

	<script src="http://code.jquery.com/jquery-latest.min.js"></script>

	<body>
	<script type="text/javascript">
		// var dbURL = 'mongodb://<dbuser>:<dbpassword>@ds037244.mongolab.com:37244/personanexus';
		// var ConnectMongo = require('connect-mongo')(session);
		// var mongoose = require('mongoose').connect(dbURL);

		//define schema before you can use mongoose
		// var pGLSchema = mongoose.Schema({
		// 	GID:int,
		// 	groupName:String,
		// 	pseudonyms:Array,
		// 	containsPIDs:Array
		// })

		//var personaGroupModel = mongoose.model('personaGroupModel', pGLSchema);


		$(document).ready(function(event) {
			//initialize number of boxes in largest scope
			var counter = 2;

			//when you click something with an id='addButton'
			$("#addButton").click(function () {
				if(counter>999){
					alert("Can't have more than 999 personas");
					return false;
				}
				counter++;
				//if there aren't too many boxes, use createElement to make a new one
				//with the id='TextBoxDiv2'
				var newTextBoxDiv = $(document.createElement('div')).attr("id", 'TextBoxDiv' + counter);
				
				//(target).after(content to insert)
				//insert all this html after the <div id=TextBoxDiv2></div> element
				newTextBoxDiv.after().html('<label>Persona #'+ counter + ' : </label>' + '<input type="text" name="textbox' + counter + '" id="textbox' + counter + '" value="" >');
				//add newTextBox element to element with id=TextBoxesGroup
				newTextBoxDiv.appendTo("#TextBoxesGroup");
			});

			$("#removeButton").click(function () {
				if(counter<3){
					  alert("Can't have less than 2 personas in a group");
					  return false;
				   }   	
				//remove element with id=TextBoxDiv2
				$("#TextBoxDiv" + counter).remove();
				counter--;
			});
					
			$("#getButtonValue").click(function () {
				//initialize msg in case nothing was input
				var msg = '';
				//for every textbox get the inputted value
				for(i=0; i<counter; ){
					i++;
					msg += "\n Persona #" + i + " : " + $('#textbox' + i).val();
				}
				alert(msg);
			});


///////////////////////////////////////////////////
			// $("h1").click(function() {
			// 	$("p").text("blue");
			// });

			//attach button click listener on dom ready
			// $(function() {
			// 	$('#submit').click(onClick);
			// }			
			// function onClick(event){
			// 	//use jquery to locate all input tags with the first part of the name = titles,
			// 	//then use map to put each value found into an array with an undetermined number of elems
			// 	//use .get() to put the values into an array called titles

			// 	var titles = $('input[name^=titles]').map(function(idx, elem) {return $(elem).val();}
			// 		).get();
			// });
///////////////////////////////////////////////////


			$("#finalsubmit").click(function() {
				//check pGL mongo for same groupsize then for pseudonyms (with regex and lists)
					//pseudonym found cancel submission and give error message
				//if ok insert into pGL SQL 'groupName' and 'counter/groupsize' (autocreate GID)
				//insert all personas along with GID into submittedPersonas SQL (autocreate PID for each)
				$("p").text(counter);
			});



		});


	</script>

		<h1 id="testid">Submit Personas</h1>
		<p>Enter the name of the "persona group" in the following box. Examples: 'Meyers Briggs types', 'The Always Sunny cast', 'Pokemon elemental types', etc</p>
		<input name="titles[]">

<!-- 		<p>Now enter the number of personas in your persona group. Examples: Meyers Briggs types has 16 personas, The Always Sunny cast has 5 personas if you don't include minor characters, there are 18 pokemon elemental types etc.
		<input name="titles[]">
 -->



		<p>Enter the all the "persona names" for your persona group in the following boxes. You can add as many personas as you need.</p>
		<div id="TextBoxesGroup">
			<div id="TextBoxDiv1">
				<label>Persona #1 : </label><input type="textbox" id="textbox1">
			</div>
			<div id="TextBoxDiv2">
				<label>Persona #2 : </label><input type="textbox" id="textbox2">
			</div>
		</div>
		<input type="button" value="Add Button" id="addButton">
		<input type="button" value="Remove Button" id="removeButton">
		<input type="button" value="Get TextBox Value" id="getButtonValue">
		<br/>
		​<button id="submit">submit</button>
		<button id="finalsubmit">click here when done</button>
		<br/>
		<p>ef</p>
		<br/>

	</body>
</html>

<!-- 	// 	$(function(){
	// 		$('#submit').click(function(){
	// 			var titles = [];
	// 			$('input[name^=titles]').each(function(){
	// 				titles.push($(this).val());
	// 			});
	// 			console.log(titles);
	// 			return false;
	// 		});
	// 	});
	// }); -->